# MongoDB connection string
MONGODB_URI=mongodb://mominshaikhdevs_db_user:vGoF5AG2aHe1MGte@ac-c8sg4dy-shard-00-00.kznxmdf.mongodb.net:27017,ac-c8sg4dy-shard-00-01.kznxmdf.mongodb.net:27017,ac-c8sg4dy-shard-00-02.kznxmdf.mongodb.net:27017/?ssl=true&replicaSet=atlas-12fuhq-shard-0&authSource=admin&appName=Cluster0


JWT_SECRET=f2ffc05ce339bde9c8ffdb75acc6391e03117273c62b66161d9fe4de9f46fe3d
JWT_EXPIRES_IN=30d


GOOGLE_CLIENT_ID=1004888369421-4b4k7ddui2pmindafnij0hgppqn9fmdf.apps.googleusercontent.com

# Allowed frontend origins (comma-separated for multiple)
CLIENT_URL=https://react-vite-study-nook-client.vercel.app

# Server port
PORT=5000

# Set to "production" when deploying
NODE_ENV=development
